<div class="catalog-section-title d-flex justify-content-center">
  <div class="content-wrapper d-flex justify-content-center">
    <div class="catalog-section-title__image catalog-section-title__image--left"></div>
    <div class="catalog-section-title__content d-flex flex-column align-items-center">
      <bread-crumbs></bread-crumbs>
      <h1 class="catalog-section-title__title theme">{{$ctrl.title}}</h1>
      <span class="catalog-section-title__sep"><img src="assets/images/zigzag-separator-black.png" alt=""></span>
      <h2 class="catalog-section-title__subtitle">Try our collection of durable precision eyeliners to design the look that suites you best!</h2>
      <p class="catalog-section-title__text">The MILUCCA EYELINERS series includes intuitive, comfortable and durable products that are both long lasting and easy to use, giving you complete control over the look you want. Effortlessly outline your eyes with a variety of colors and textures of choice, to create a unique look that  fits you like a glove!</p>
    </div>
    <div class="catalog-section-title__image catalog-section-title__image--right d-none d-lg-block"></div>
  </div>
</div>
