@import '../variables';
@import '../utils';

.social-feed {
  width: 100%;

  &:before {
    content: "";
    border-top: 1px solid $greyish-brown;
    height: 1px;
    width: calc(100% - 30px);
    margin-bottom: 30px;
    display: block;
    @include viewport('lg') {
      width: 100%;
    }
  }

  &__wrapper {
    width: 100%;
  }

  &__content {
    @include viewport('lg') {
      margin-right: 45px;
      [lang="heb"] & {
        margin: 0 0 0 45px;
      }
    }
  }

  &__title {
    font-size: 34px;
    color: $black-two;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__explanation {
    font-size: 13px;
    text-align: center;
    color: $warm-gray;
    max-width: 200px;
    margin-bottom: 20px;
    @include viewport('lg') {
      text-align: left;
      [lang="heb"] & {
        text-align: right;
      }
    }
  }

  &__social {
    margin-bottom: 30px;
  }

  &__gallery {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 35px;
    @include viewport('lg') {
      flex: 1;
      padding: 0;
    }
  }

  &__gallery-item {
    width: 50%;
    padding: 5px;
    @include viewport('lg') {
      flex: 0 0 33%;
    }
  }

  &__gallery-item-image {
    width: 100%;
    height: 200px;
    background: $gray;
  }
}
