<section class="main-top-bar d-flex justify-content-center">
  <div class="content-wrapper d-flex justify-content-center justify-content-lg-between">

    <!-- Desktop Logo-->
    <h1
      class="main-top-bar__logo d-none d-lg-flex align-items-center"
      ui-sref="home"
    ><img src="assets/images/logo.svg" alt=""></h1>

    <!-- Mobile menu trigger -->
    <button
      type="button"
      class="icon-mobile-menu main-top-bar__mobile-menu-trigger d-block d-lg-none"
      ng-click="$ctrl.toggleMenu()"
    ></button>

    <!-- Desktop Site Navigation -->
    <nav
      class="main-top-bar__nav align-items-center"
      ng-class="{'menu-is-visible': $ctrl.mobileMenuIsVisible}"
      ng-mouseleave="$ctrl.hoverCloseMegaMenu()">
      <a
        class="main-top-bar__nav-item d-none d-lg-block"
        ng-repeat="navItem in $ctrl.navigationItems"
        ui-sref="{{$ctrl.NAVIGATION_TO_ROUTE[navItem]}}"
        ng-mouseenter="$ctrl.hoverOpenMegaMenu(navItem)"
      >{{navItem}}</a>
      <a
        class="main-top-bar__mobile-nav-item d-block d-lg-none"
        ng-repeat="navItem in $ctrl.navigationItems"
        href=""
        ng-click="$ctrl.clickToggleMegaMenu(navItem)"
        style="order:{{$index+1}}"
      >{{navItem}}</a>
      <mega-menu
        ng-show="$ctrl.megaMenuVisible"
        section="{{$ctrl.megaMenuSection}}"
        style="order:{{$ctrl.megaMenuSectionIndex+1}}"></mega-menu>
    </nav>

    <!-- Mobile Logo -->
    <h1
      class="main-top-bar__mobile-logo d-flex d-lg-none align-items-center"
      ui-sref="home"><img src="assets/images/mobile-logo.svg" alt="">
    </h1>

    <div class="main-top-bar__utils d-flex align-items-center">
      <div class="main-top-bar__social-icons d-none d-lg-flex align-items-center">
        <a href="" class="icon-youtube main-top-bar__social-icon"></a>
        <a href="" class="icon-instagram main-top-bar__social-icon"></a>
      </div>
      <button
        type="button"
        class="main-top-bar__change-language-button d-none d-lg-block">
          <span
            ng-if="$ctrl.language === 'eng'"
            ng-click="$ctrl.toggleLanguage('heb')">עברית</span>
          <span
            ng-if="$ctrl.language === 'heb'"
            ng-click="$ctrl.toggleLanguage('eng')">english</span>
      </button>
      <search class="d-none align-items-center"></search>
    </div>
  </div>
</section>
