@import "../variables";
@import "../utils";

.main-top-bar {
  height: $main-bar-height;
  background-color: $black;
  color: $white;
  position: relative;

  &__logo, &__mobile-logo {
    font-size: 18px;
    cursor: pointer;
  }

  &__mobile-menu-trigger {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }

  &__nav {
    font-family: 'gill-sans-pro', sans-serif;
    text-transform: uppercase;
    display: none;
    position: absolute;
    left: 0;
    top: $main-bar-height;
    z-index: $mobile-menu-index;
    flex-direction: column;
    color: $black;
    width: 100%;
    font-size: 18px;

    @include viewport('lg') {
      display: flex;
      position: static;
      flex-direction: row;
      color: $white;
      width: auto;
      margin: 0 auto 0 40px;
    }

    &.menu-is-visible {
      display: flex;
    }

    & > a {
      background: white;
      border-bottom: 1px solid $black;
      padding: 17px 15px;
      width: 100%;
      @include viewport('lg') {
        border-bottom: none;
        padding: 0;
        width: auto;
        background: transparent;
      }
      &:hover {
        border-bottom: 1px solid $warm-grey;
      }
    }

    & > a:not(last-child) {
      @include viewport('lg') {
        margin-right: 25px;
      }
    }
  }

  &__social-icon {
    margin-right: 10px;
  }

  &__change-language-button {
    font-family: 'almoni-dl', sans-serif;
    border-bottom: 1px solid $warm-grey;
    padding: 5px 0;
  }
}
