<section class="main-top-bar d-flex justify-content-center">
  <div class="content-wrapper d-flex justify-content-between">
    <h1 class="main-top-bar__logo d-none d-lg-flex align-items-center">MILUCCA</h1>
    <button
      type="button"
      class="main-top-bar__mobile-menu-trigger d-block d-lg-none"
      ng-click="$ctrl.toggleMenu()"
    >Mobile Nav</button>
    <nav
      class="main-top-bar__nav align-items-center"
      ng-class="{'menu-is-visible': $ctrl.menuIsVisibale}"
      ng-mouseleave="$ctrl.hoverCloseMegaMenu()">
      <a
        class="main-top-bar__nav-item d-none d-lg-block"
        ng-repeat="navItem in $ctrl.navigationItems"
        href=""
        ng-mouseenter="$ctrl.hoverOpenMegaMenu(navItem)"
      >{{navItem}}</a>
      <a
        class="main-top-bar__mobile-nav-item d-block d-lg-none"
        ng-repeat="navItem in $ctrl.navigationItems"
        href=""
        ng-click="$ctrl.clickToggleMegaMenu(navItem)"
        style="order:{{$index+1}}"
      >{{navItem}}</a>
      <mega-menu
        ng-show="$ctrl.megaMenuVisibale"
        section="{{$ctrl.megaMenuSection}}"
        style="order:{{$ctrl.megaMenuSectionIndex+1}}"></mega-menu>
    </nav>
    <h1 class="main-top-bar__mobile-logo d-flex d-lg-none align-items-center">MILUCCA</h1>
    <div class="main-top-bar__utils d-flex">
      <div class="main-top-bar__social-icons d-none d-lg-flex align-items-center">
        <a href="" class="main-top-bar__social-icon">I</a>
        <a href="" class="main-top-bar__social-icon">Y</a>
      </div>
      <button
        type="button"
        class="main-top-bar__change-language-button d-none d-lg-block">
          <span
            ng-if="$ctrl.language === 'eng'"
            ng-click="$ctrl.toggleLanguage('heb')">עברית</span>
          <span
            ng-if="$ctrl.language === 'heb'"
            ng-click="$ctrl.toggleLanguage('eng')">english</span>
      </button>
      <search class="d-flex align-items-center"></search>
    </div>
  </div>
</section>
