<section class="home-looks content-wrapper d-flex flex-column flex-lg-row flex-lg-wrap">
  <div class="home-looks__top-section d-flex flex-column flex-lg-row align-items-center">
    <h1>
      <multi-color-title>
        <first-line>looks &</first-line>
        <second-line>collections</second-line>
      </multi-color-title>
    </h1>
    <div class="home-looks__subtitle">
      <h3>WHY BLEND IN WHEN YOU CAN STAND OUT?</h3>
      <p>Choose your look of the day, we’ve got something special for every mood and occasion.</p>
    </div>
  </div>

  <looks-slider
    looks="$ctrl.looks"
    slides-per-view="4"
    on-slide-change-end="$ctrl.onSlideChange"
    centered-slides="true"></looks-slider>
  <div class="home-looks__look-photo d-flex align-items-center justify-content-center">{{$ctrl.activeLook}}</div>
  <related-products product-name="{{$ctrl.activeLook}}"></related-products>
</section>
