@import '../../../common/variables';
@import '../../../common/utils';

.home-looks {
  width: 100%;

  &__title {
    background: $black;
    padding: 25px 0 10px;
    border-bottom: 1px solid $white;
    color: $white;
    font-size: 28px;
    text-align: center;
  }

  &__mobile-looks-slider {
    height: 85px;
    width: 100%;
  }
}
