@import '../../../common/variables';
@import '../../../common/utils';

.home-looks {
  width: 100%;

  &__top-section {
    padding: 0 15px;
    margin-bottom: 50px;
  }

  &__looks-title {
    background: $black;
    padding: 25px 0 10px;
    border-bottom: 1px solid $white;
    color: $white;
    font-size: 28px;
    text-align: center;
  }

  multi-color-title {
    margin-bottom: 20px;
    display: block;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 100;
    @include viewport('lg') {
      margin-left: 150px;
    }

    p {
      color: $warm-grey;
      margin-top: 5px;
    }
  }

  &__mobile-looks-slider {
    height: 90px;
    width: 100%;
    background: $black;
    color: $white;
    .swiper-container {
      background: $black;
      color: $warm-grey;
      height: 30px;
    }
    .swiper-slide {
      background: $black;
      text-transform: capitalize;
      border-right: 1px solid $warm-grey;
      height: 30px;
      white-space: nowrap;
    }
    .swiper-slide-active {
      color: $white;
    }
  }

  &__current-look-title {
    font-size: 11px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 10px;
  }

  &__look-photo {
    width: 100%;
    height: 300px;
    background-color: $grey;
    margin-bottom: 30px;
  }

  &__related-products {
    padding: 0 15px;

    button {
      width: 100%;
    }

    &-title {
      margin-bottom: 5px;
      text-align: center;
    }
    &-text {
      margin-bottom: 20px;
    }
  }


}
