@import '../variables';
@import '../utils';

.related-products {
  padding: 0 15px;

  button {
    width: 100%;
  }

  &__title {
    margin-bottom: 5px;
    text-align: center;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__image {
    height: 200px;
    width: 100%;
    background: $grey;
    margin-bottom: 30px;
    @include viewport('lg') {
      height: 130px;
    }
  }

  &__action {
    margin-bottom: 5px;
    @include viewport('lg') {
      font-size: 12px;
    }
  }

  &__secondary-action {
    @include viewport('lg') {
      font-size: 12px;
    }
  }
}
