@import '../../common/utils';

.home {
  &__gallery {
    margin-bottom: 40px;
    display: block;
    @include viewport('lg') {
      margin-bottom: 25px;
    }
  }

  &__my-choice {
    margin: 100px 15px 40px;
    max-width: 100%;
    display: block;
    @include viewport('lg') {
      margin: 100px -15px 80px;
    }
  }
}
