<section class="home-section-big">
  <div class="content-wrapper home-section-big__wrapper d-flex">
    <div class="home-section-big__content d-flex flex-column">
      <h1 class="theme">
        About<br>
        MILUCCA
      </h1>
      <div class="home-section-big__image align-self-end"></div>
      <div class="home-section-big__text">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ultricies auctor neque. Et varius sapien
          pretium. Nullam molestie libero tortor. Proin at elit molestie, feugiat est et, porta diam.</p>
      </div>
    </div>
  </div>
</section>
