@import "common/common";
@import "common/variables";

app {
  height: 100%;
  display: block;
}

mega-menu {
  width: 100%;
  max-width: $site-width;
  background: $white;
  color: $black;
  @include viewport('lg') {
    position: absolute;
    z-index: $mega-menu-index;
    left: 50%;
    transform: translateX(-50%);
    top: $main-bar-height;
  }
}

.app {
  height: 100%;
  &__page-wrapper {
    height: 100%;
    position: relative;
  }
}

