@font-face {
    font-family: 'gill-sans-pro';
    src: url('./fonts/GillSansMTPro-Condensed.otf') format('opentype');
    font-stretch: condensed;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gill-sans-pro-book';
    src: url('./fonts/GillSansMTPro-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'almoni-dl';
    src: url('./fonts/almoni-dl-aaa-300.woff') format('opentype');
    font-weight: 300;
    font-style: normal;
}


