$icomoon-font-path: "fonts" !default;

$icon-close-small: "\e909";
$icon-minus-small: "\e907";
$icon-plus-small: "\e908";
$icon-arrow-right-small: "\e905";
$icon-arrow-left-small: "\e906";
$icon-arrow-down: "\e900";
$icon-arrow-up: "\e901";
$icon-instagram: "\e902";
$icon-mobile-menu: "\e903";
$icon-youtube: "\e904";

