<section class="home-stories d-flex justify-content-center">
  <div class="home-stories__stories content-wrapper d-flex flex-column flex-lg-row">
    <div class="home-stories__story" ng-repeat="story in $ctrl.stories">
      <div class="home-stories__image"></div>
      <div
        class="home-stories__content rtl-right"
        ng-class="{'inverse': story.color === 'black'}">
        <h3 class="home-stories__title">{{story.title}}</h3>
        <p class="home-stories__text">{{story.text}}</p>
      </div>
    </div>
  </div>
</section>
