@import "../variables";
@import "../utils";

.catalog-item {
  position: relative;

  &__label {
    width: 54px;
    height: 54px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: $warm-grey;
    border-radius: 50%;
  }

  &__image {
    width: 100%;
    height: 200px;
    background: $grey;
    margin-bottom: 30px;
  }

  &__info {
    text-align: center;
    margin-bottom: 20px;

    h4 {
      margin-bottom: 10px;
      font-size: 21px;
    }

    p {
      color: $greyish-brown;
      font-size: 16px;
    }
  }

  &__price {
    border: 1px solid $greyish;
    padding: 10px;
    color: $black-two;
    flex: 0 0 50%;
  }

  &__action {
    flex: 0 0 50%;
  }
}
