@import '../variables';
@import '../utils';

.mega-menu-catalogue {
  &__categories {
    border-right: 1px solid $black;
    padding: 15px;
    flex: 45;
    background-color: $gray;
    @include viewport('lg') {
      flex: 2;
      background-color: $white;
      padding: 25px;
    }
  }
  &__category {
    font-size: 21px;
    text-transform: uppercase;
    @include viewport('lg') {
      font-size: 18px;
    }
  }
  &__sub-categories {
    padding: 25px;
    flex: 55;
    @include viewport('lg') {
      flex: 5;
      border-right: 1px solid $black;
    }
  }
  &__sub-category-title {
    font-size: 21px;
    text-transform: capitalize;
  }
  &__more-section {
    display: none;
    @include viewport('lg') {
      display: block;
      flex: 3;
    }
  }
}
