@import url('http://fonts.googxleapis.com/css?family=Roboto');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import '~angular-ui-swiper/src/angular-ui-swiper.scss';
@import './variables';
@import './utils';

html, body, div, span, h1, h2, h3, h4, h5, h6,
p, img, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

html, body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  color: $black;
}

button {
  appearance: none !important;
  outline: none !important;
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  padding: 0;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

h1.theme {
  font-family: 'Abril Fatface', sans-serif;
}

.content-wrapper {
  width: 100%;
  max-width: $site-width;
}

.backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $black;
  opacity: 0.75;
  top: 0;
  left: 0;
  z-index: $backdrop-index;
}

.m-swiper-pagination {
  .swiper-pagination-bullet {
    background: $black-b;
    box-shadow: 0 0 0 2px rgba(255,255,255,1), 0 0 0 4px rgba(0,0,0,0.2);
  }
}

