@import url(http://fonts.googleapis.com/css?family=Roboto);
@import "./variables";
@import "./utils";

html, body, div, span, h1, h2, h3, h4, h5, h6,
p, img, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

body {
  height: 100%;
  line-height: 1;
}

button {
  appearance: none;
}

