@import './variables';
@import './utils';

html, body, div, span, h1, h2, h3, h4, h5, h6,
p, img, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

html[lang="heb"] {
  direction: rtl;

  .rtl-right {
    text-align: right;
  }
}

html, body {
  font-family: 'Lato', sans-serif;
  min-height: 100%;
  color: $black;
}

button {
  appearance: none !important;
  outline: none !important;
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  padding: 0;
  border-radius: 0;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

[class*=" icon-"]:before {
  color: inherit;
}

.theme {
  font-family: 'Abril Fatface', sans-serif;
}

.running-text-font {
  font-family: 'Lato', sans-serif;
}

.running-text {
  font-size: 16px;
  color: $warm-grey;
}

.cta-button {
  background: url('/assets/images/cta-button-pattern.jpg') repeat;
  color: $white;
  position: relative;
  top: -3px;
  right: -3px;
  border: 1px solid $white;
  box-shadow: -3px 3px 0 0 $black;
  font-size: 12px;
  padding: 13px 0 10px;
  text-align: center;
  text-transform: uppercase;
  font-stretch: condensed;
  font-family: $gill-sans-pro;
  cursor: pointer;
  transition: all 0.1s linear;

  &:hover {
    box-shadow: 0 0 0 0 $black;
    top: 0;
    right: 0;
  }
}

.secondary-button {
  border: 1px solid $greyish-brown;
  padding: 10px;
}

.content-wrapper {
  width: 100%;
  max-width: $site-width;
  position: relative;
}

.backdrop {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $black;
  opacity: 0.75;
  left: 0;
  z-index: $backdrop-index;
}

.m-swiper-pagination {
  .swiper-pagination-bullet {
    background: $black-two;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 0 4px rgba(0, 0, 0, 0.2);
  }
}

