// LAYOUT
.layout-row {
  display: flex;
  flex-direction: row;
  &--horizontal-left {
    justify-content: flex-start;
  }
  &--horizontal-center {
    justify-content: center;
  }
  &--horizontal-right {
    justify-content: flex-end;
  }
  &--vertical-top {
    align-items: flex-start;
  }
  &--vertical-center {
    align-items: center;
  }
  &--vertical-bottom {
    align-items: flex-end;
  }
  &--center {
    justify-content: center;
    align-items: center;
  }
  &--split {
    justify-content: space-between;
  }
}

.layout-column {
  display: flex;
  flex-direction: column;
  &--horizontal-center {
    align-items: center;
  }
  &--vertical-center {
    justify-content: center;
  }
  &--center {
    justify-content: center;
    align-items: center;
  }
}
