// MEDIA BREAKPOINTS
$mb-small: 768px;
$mb-medium: 992px;
$mb-large: 1200px;

// COLOR PALETTE
$black: #000;
$black-two: #3a2e2c;
$gray: #f4f4f4;
$greyish: #b1b1b1;
$greyish-brown: #4a4a4a;
$warm-gray: #949494;
$white: #fff;

// Z-INDEX
$mega-menu-index: 100;
$mobile-menu-index: 100;
$backdrop-index: 90;

// LAYOUT
$site-width: 960px;
$main-bar-height: 60px;
