<section class="mega-footer d-flex flex-column align-items-center">

  <!-- Social Feed -->
  <social-feed class="mega-footer__social-feed d-flex justify-content-center"></social-feed>

  <!-- Header -->
  <div class="mega-footer__header">
    <h1><img src="assets/images/logo-contrast.svg" alt="milucca logo"></h1>
  </div>

  <div class="content-wrapper">
    <div class="mega-footer_sections d-flex flex-column align-items-center">

      <!-- Mega Menu Toggle -->
      <button
        type="button"
        class="mega-footer__toggle-button d-flex align-items-center"
        ng-click="$ctrl.toggleFooterSections()">
        <span>close categories footer</span>
        <span
          class="mega-footer__toggle-button-icon"
          ng-class="{'icon-minus-small':$ctrl.footerSectionsVisible, 'icon-plus-small': !$ctrl.footerSectionsVisible}">
        </span>
      </button>
      <footer-sections ng-show="$ctrl.footerSectionsVisible"></footer-sections>
    </div>

    <div class="mega-footer__footer d-flex flex-column flex-lg-row align-items-center">
      <a
        href=""
        ng-repeat="menuItem in $ctrl.footerBottomMenu"
        class="mega-footer__footer-item">{{menuItem}}</a>
      <div class="mega-footer__social">
        <a href="">Y</a>
        <a href="">I</a>
      </div>
      <div class="mega-footer__legal">
        <a href="">Legal note</a>
        <a href="">Privacy Policy</a>
      </div>
    </div>
  </div>
</section>
